@import url("https://fonts.bunny.net/css?family=exo-2:900,700|instrument-sans:400,500,600");

//Variables
:root {
    /*Brand identity*/
    --brand-primary: #6b1616;
    --brand-primary-soft: #930202;
    --brand-secondary: #000000;
    --brand-secondary-soft: #333333;

    /* Background colors */
    --bg-white: #ffffff;
    --bg-light: #d5d5d5;
    --border-soft: #e1e1e1;

    /* Brand tipography */
    --font-main: "Instrument Sans", sans-serif;
    --font-title: "Exo 2", sans-serif;
    --text-dark: #111827;
    --text-light: #ffffff;
    --text-muted: #6b7280; /* Para textos secundarios o menos importantes */

    /* State and feedback colors */
    --success: #34d399; /* Tu green */
    --error: #f87171; /* Tu red */
    --info: #2563eb; /* Tu blue */
    --info-hover: #1e40af;

    /* Variables to Dark Mode*/
    --card-bg: var(--bg-white);
    --main-text: var(--text-dark);
}

html.dark {
    --bg-light: #1d2b49;
    --bg-white: #222b38;
    --text-dark: #f3f4f6;
    --text-light: #c8ced9;
    --text-muted: #6b7280;
    --border-soft: #374151;
    --card-bg: var(--bg-white);
    --brand-primary: rgb(175, 36, 36);
    --brand-primary-soft: rgb(119, 13, 13);
    --brand-secondary: #060625;
    --brand-secondary-soft: #202041;
}

/*============================ */
// DASHBOARD ADMIN STYLES
/*============================ */

.admin-container {
    display: flex;
}

// Sidebar container styles
.sidebar {
    width: 260px;
    min-height: 100vh;
    background: var(--brand-secondary);
    color: var(--bg-white);
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);

    // Sidebar title
    .brand {
        color: var(--text-light);
        padding: 1.5rem;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    }
    // Sidebar navigation
    nav {
        flex: 1;
        padding: 1rem 0;

        // Links styles
        .nav-link {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            padding: 0.9rem 1.5rem;
            color: var(--text-light);
            text-decoration: none;
            font-weight: 700;
            transition: all 0.2s ease;
        }
        // Link hover effect
        .nav-link:hover {
            background: #9090904c;
            color: var(--text-light);
        }
        // Active link effect
        .nav-link.active {
            background: var(--brand-primary);
            border-left: 4px solid var(--brand-primary-soft);
        }
    }

    // Sidebar footer
    .sidebar-footer {
        padding: 1.5rem;
        border-top: 1px solid rgba(255, 255, 255, 0.247);
        // Logout button
        button {
            width: 100%;
            background: none;
            border: none;
            color: #ef4444;
            font-weight: 600;
            cursor: pointer;
            padding: 0.75rem;
            text-align: left;
            transition: 0.2s ease;

            // Button Hover
            button:hover {
                background: rgba(0, 0, 0, 0.057);
            }
        }
    }
}
// Main content styles
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--bg-light);

    // Admin title
    .admin-title {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: var(--font-title);
        margin-bottom: 1rem;
        color: var(--text-dark);
    }
    // Dashboard container
    .container {
        flex: 1;
        background: var(--bg-white);
        font-family: var(--font-main);
        border-radius: 2rem;

        // Dashboard title
        .dashboard-title {
            font-size: 1.4rem;
            font-weight: 700;
            font-family: var(--font-title);
            margin: 1.5rem;
            color: var(--text-dark);
        }
        // Set stats cards grid
        .stats-grid {
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
        // Set stats graphs grid
        .stats-grid-graphs {
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
        // Individual stat card styles
        .stat-card {
            background: var(--bg-light);
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .label {
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
}

/*============================ */
// DASHBOARD CUSTOMER STYLES
/*============================ */

/*============================ */
// ORDERS VIEW STYLES
/*============================ */
/* Espaciado entre tarjetas */
.order-item {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

/* Cabecera: ID a la izquierda, Estado a la derecha */
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.order-id {
    margin: 0;
    font-size: 1.25rem;
}

/* Cuerpo en dos columnas */
.order-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.order-total span {
    color: var(--brand-primary);
    font-weight: bold;
}

/* Lista de productos */
.order-products-list {
    list-style: none;
    padding-left: 10px;
    border-left: 2px solid #eee;
}

.product-qty {
    color: #666;
}

/* Botón de eliminar al final */
.order-actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

/* Estado cuando no hay nada */
.empty-state {
    text-align: center;
    padding: 3rem;
    color: #666;
}
/*============================ */
// DISCOUNTS VIEW STYLES
/*============================ */

/*============================ */
// SHIPPING VIEW STYLES
/*============================ */

/*============================ */
// PRODUCTS VIEW STYLES
/*============================ */

/*============================ */
// USERS VIEW STYLES
/*============================ */

#theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: var(--brand-secondary);
    color: var(--bg-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-family: var(--font-main);
    font-weight: 600;
    z-index: 1000;
    transition: background-color 0.3s;

    html.dark & {
        background-color: #76787d;
        color: var(--text-dark);
    }

    &:hover {
        background-color: #424242;
    }
}

h1 {
    font-size: 1.75rem;
}

//Principal container
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    .actions {
        display: flex;
        justify-content: flex-end;

        .button-create,
        .button-back {
            display: inline-block;
            background-color: var(--brand-primary);
            color: var(--text-light);
            padding: 0.6rem 1rem;
            margin: 1rem;
            border-radius: 0.5rem;
            text-decoration: none;
            font-weight: 500;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--brand-primary-soft);
            }
        }
    }
}

.table-wrapper {
    overflow-x: auto;
    background-color: var(
        --bg-white
    ); // Fondo blanco (o el que uses en el dashboard)
    border-radius: 0.75rem; // Bordes redondeados
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); // Sombra suave para el "filo"
    border: 1px solid var(--border-color); // El borde gris sutil

    .table {
        width: 100%;
        text-align: left;

        thead th:last-child {
            text-align: center;
        }

        th,
        td {
            padding: 0.75rem 1rem;
        }

        th {
            background-color: var(--brand-secondary-soft);
            color: var(--text-light);
            font-size: 18px;
        }
        tr {
            &:nth-child(even) {
                background-color: var(--bg-light);
            }
        }
        .table-actions {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;

            .btn-actions {
                display: flex;
                gap: 0.5rem;

                .button-edit {
                    background-color: #10b981;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 0.375rem;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: #059669;
                    }

                    html.dark & {
                        background-color: #045204;

                        &:hover {
                            background-color: #023107;
                        }
                    }
                }
                .button-delete {
                    background-color: #ef4444;
                    color: white;
                    display: flex;
                    padding: 0.5rem 1rem;
                    border-radius: 0.4rem;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: #dc2626;
                    }
                    html.dark & {
                        background-color: #7f1d1d;

                        &:hover {
                            background-color: #5b0e0e;
                        }
                    }
                }
            }
        }
        .description {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .price {
            font-weight: bold;
        }
        .product-thumb {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 0.25rem;
        }
        /* Badges stock */
        .stock-in {
            background-color: #34d399;
            color: white;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-weight: bold;
            font-size: 0.875rem;
        }
        .stock-out {
            background-color: #f87171;
            color: white;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-weight: bold;
            font-size: 0.875rem;

            html.dark & {
                background-color: #7f1d1d;
            }
        }
    }
}

//Form styles

/* ============================
   FORMULARIO GENERAL
============================ */
.form-card {
    background-color: var(--bg-light);
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .password-wrapper, .percentage-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                padding-right: 2.5rem;
            }

            #togglePassword,
            .icon {
                position: absolute;
                right: 0.75rem;
                display: flex;
                align-items: center;
                height: 100%;
                cursor: pointer;
                color: #6b7280;
            }
        }
    }

    .form-group label {
        font-size: 0.95rem;
        font-weight: 600;
        margin-top: 0.9rem;
        color: var(--text-dark);

        html.dark .form-group label {
            color: #e5e7eb;
        }
    }

    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-group .choices__inner {
        width: 100%;
        padding: 0.75rem 1rem;
        border: 1px solid #cbd5e1;
        border-radius: 0.5rem;
        font-size: 1rem;
        background-color: #ffffff;
        color: #1f2937;
        transition: 0.25s;

        &:focus {
            border-color: var(--brand-primary);
            box-shadow: 0 0 0 2px var(--brand-primary-soft);
        }
    }

    // Estilos para la lista desplegable de Choices.js
    .form-group .choices__list--dropdown {
        color: var(--text-dark);
        box-shadow: none;
        outline: none;
        border-radius: 0.5rem;

        .choices__item--selectable {
            padding: 0.5rem 1rem;

            // Hover
            &:hover {
                background-color: var(--bg-light);
                html.dark & {
                    background-color: #374151;
                }
            }

            // Selected
            &.is-selected,
            &.is-highlighted {
                background-color: #e5e7eb;
                html.dark & {
                    background-color: #374151;
                }
            }
        }
    }
    textarea {
        min-height: 5rem;
    }
}

.form-group-actions {
    display: flex;
    justify-content: space-between;
    background-color: none;

    .error-messages {
        margin-top: 1rem;
    }

    .text-alert {
        color: var(--error);
        font-size: 0.9rem;
    }
}

/* ============================
   FILA DE CAMPOS
============================ */
.form-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .form-group {
        flex: 1 1 200px;
    }
}

/* ============================
   CHOICES.JS (SELECT MÚLTIPLE)
============================ */
.choices__inner {
    background-color: var(--bg-white);
    border: 1px solid var(--border-soft);
    outline: none;
    border-radius: 0.5rem;
    padding: 0.6rem 0.75rem;
    min-height: 45px;
}
.choices.is-focused .choices__inner,
.choices.is-open.is-flipped .choices__inner {
    border-color: var(--brand-primary) !important;
    box-shadow: 0 0 0 3px var(--brand-primary-soft) !important;
    border-radius: 0.5rem !important;
}

.choices__input {
    border: none !important;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.choices__list--multiple .choices__item {
    background-color: var(--brand-primary) !important;
    border: 1px solid var(--brand-primary) !important;
}

.choices__list--dropdown {
    background-color: var(--bg-white);
    border: 1px solid var(--border-soft);
    border-radius: 0.5rem;
}

/* Hover */
.choices__list--dropdown {
    .choices__item--selectable {
        &:hover {
            background-color: #e5e7eb;

            html.dark & {
                background-color: #374151;
            }
        }
    }
}

/* ============================
   IMAGEN ACTUAL
============================ */
.image-preview-wrapper img {
    margin-top: 0.5rem;
    max-width: 150px;
    border-radius: 0.5rem;
}

/* ============================
   BOTONES
============================ */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    .btn {
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        font-weight: 600;
        background-color: var(--brand-primary);
        cursor: pointer;

        &:hover {
            background-color: var(--brand-primary-soft);
        }
    }

    .btn-back {
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        font-weight: 600;
        background-color: var(--text-muted);

        &:hover {
            background-color: #4b5563;
        }
    }
}
